@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary-color: #5585b5;
  --secondary-color: #79c2d0;
  --text-color: #00204a;
  --higthlight-color: #bbe4e9;
  --font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  color: var(--text-color);
  font-family: var(--font-family);
  height: 100%;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
.container {
  background: white;
  /* border-radius: 20px;*/
  /*max-width: 70%;*/
  margin: 3% auto;
}
.app {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.flex-table {
  display: flex;
  flex-flow: row wrap;
  transition: all 0.5s ease-in;
}

.flex-row {
  width: calc(100% / 6);
  text-align: left;
  padding: 0.5em 0.5em;
}
.content-note-item div {
  border-bottom: 1px solid var(--secondary-color);
}
.content-archive-item div {
  border-bottom: 1px solid var(--secondary-color);
}
.flex-row-archived {
  width: calc(100% / 3);
  text-align: left;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid var(--secondary-color);
}
.content-header {
  background-color: var(--primary-color);
  border-radius: 7px;
  color: aliceblue;
  font-weight: 600;
}

.fa-solid {
  font-size: 20px;
  padding: 5px 5px;
}

.action-link {
  color: var(--text-color);
}
.action-link:hover {
  color: var(--secondary-color);
  transition: 0.025ms all ease-in-out;
}

.note-icon {
  background: var(--secondary-color);
  padding: 8px 8x;
  border-radius: 50%;
  font-size: 15px;
}
/* .new-note-btn {
} */
.button {
  background: var(--primary-color);
  color: aliceblue;
  border: var(--primary-color) 1px solid;
  border-radius: 7px;
  padding: 5px 10px;
  text-decoration: none;
}
.button:hover {
  transition: 0.2ms all ease-in-out;
  background: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.footer {
  flex-direction: column;
  font-size: 14px;
}
.coded-by {
  order: 2;
  margin-top: 20px !important;
}

.email {
  order: 1;
  margin-top: 10px !important;
}
.social-block {
  order: -1;
}
.social {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  margin: auto 0;
  text-align: center;
}
.source-code {
  color: var(--text-color);
  text-align: center;
}
.source-code:hover {
  color: var(--highlight-color);
  transition: all 0.2ms ease-in-out;
}

.social:hover {
  color: var(--highlight-color);
  transition: all 0.3ms ease-in-out;
}
.social:active {
  color: var(--higthlight-color);
}

.notes-preview {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 20px;
  flex-grow: 1;
  width: 90%;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
}

.notes-title,
.notes-body {
  border: none;
  outline: none;
  width: 100%;
}
.category {
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  padding: 7px 0;
  outline: none;
  width: 30%;
}

.notes-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

.notes-body {
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0;
  resize: none;
}
.content-note-item-selected {
  font-weight: 600;
}

/*for mobile devices*/
@media only screen and (min-width: 300px) {
  [class*="col-"] {
    width: 100%;
  }
  .app {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .container {
    max-width: 80%;
    margin: 5% auto;
    padding: 20px 20px;
  }
}
